<!DOCTYPE html>
<html>
<head>
	<title>document</title>
	<style type="text/css">
		
	</style>
</head>
<body>
<h1 style="text-align: center;">hey!! Enter Your Text Below</h1>
<form action="/removepunc" method="get">
<textarea name="text" rows="20" cols="40" style="border: 2px solid orange">
	Your raw text here
</textarea><br>
<label for="rem">Remove Punctuations</label>
<input type="checkbox" id="rem" name="removepun" style="margin-bottom: 20px;cursor: pointer;">

<label for="up">UPPER CASE</label>
<input type="checkbox" id="up" style="cursor: pointer;"  name="upper">

<label for="remn">Remove New Line</label>
<input type="checkbox" id="remn" style="cursor: pointer;" name="newline" >

<label for="count">chararacter Count</label>
<input type="checkbox" id="count" style="cursor: pointer;" name="ccount" >

<label for="remspace">Remove Extra Space</label>
<input type="checkbox" id="remspace" style="cursor: pointer;" name="space" ><br>


<button type="submit" style="background-color: blue;color:white; cursor: pointer; padding: 10px;">Analyse</button>
</form>
</body>
</html>